{% extends "admin/base.html.twig" %}

{% block title %}
    Modification du commentaire n° {{comment.id}}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">{{comment.id}}</h1>
        <div class="alert alert-info">
            <strong>Annonce liée : </strong> {{comment.annonce.title}}
            <strong>Auteur : </strong> {{comment.author.fullName}}
            <strong>Date de création: </strong> {{comment.createdAt|date('d/m/Y H:i')}}
            <strong>Note: </strong> {{comment.rating}}
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
            Modérer et enregistrer les modifications
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}